<h2>Experiências</h2>

<div class="exp-1">
    <h3 class="info-principal">Escola Municipal Maria Cristina | Estagiário de TI  (Set 2024 - Até o presente momento)</h3>
    <p>Competências: </p>
    
    <ul>
        <li>Manutenção técnica</li>
        <li>Elaboração de planilhas</li>
        <li>Organização do laboratório de informática</li>
    </ul>
</div>

<div class="exp-2">
    <h3 class="info-principal">Fatec Itu | Aprendriz (Nov 2022 - Nov 2023)</h3>
    <p>Competências: </p>
    
    <ul>
        <li>Organização de documentos</li>
        <li>Elaboração de planilhas</li>
        <li>Cotação de preço de materiais</li>
    </ul>
</div>
